@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
html, body
{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    
    background: #EDEAE5;
}

.bodytop
{
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 47px;
padding: 1px;
text-align: center;
background: #5F9A89;
color: white;
}


.ht
{
	position: absolute;
width: 411px;
height: 82px;
left: 600px;
top: 145px;
font-family: Arvo;
font-style: normal;
font-size: 28px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
}


.wt
{
	position: absolute;
width: 411px;
height: 82px;
left: 624px;
top: 300px;
font-family: Arvo;
font-style: normal;
font-size: 28px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
}

.ht-input
{

background-color: #F8F5F5;
position: absolute;
width: 287px;
left: 576px;
top: 223px;
border-style: none; 
border-radius: 25px;
padding: 20px; 

}

.wt-input
{

background-color: #F8F5F5;
position: absolute;
width: 287px;
left: 576px;
top: 390px;
border-style: none; 
border-radius: 25px;
padding: 20px; 

}

.bmi-btn
{
background: #FCE181;
position: absolute;
width: 230px;
height: 70px;
left: 606px;
top: 467px;
border-style: none;
color: white;
font-size: 20px;
letter-spacing: 2px;
font-weight: normal;
cursor: pointer;
border-radius: 25px;
padding: 20px; 

}

.result
{
background: #5F9A89;
border-radius: 30px;
position: absolute;
width: 500px;
height: 60px;
left: 475px;
top: 580px;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 34px;
text-align: center;
color: #FFFFFF;
padding: 13px;
}