@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
.body
{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#EDEAE5
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #154C52;
  font-family:"Arvo";
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}