@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#EDEAE5
}

.signin
{
position: absolute;
width: 142px;
height: 24px;
left: 197px;
top: 32px;
text-decoration: none;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
}

.register
{
  position: absolute;
width: 142px;
height: 30px;
left: 523px;
top: 28px;
text-decoration: none;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
}

.signin-click
{
position: absolute;
width: 142px;
height: 24px;
left: 197px;
top: 32px;
text-decoration: none;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #5F9A89;
}

.usnm
{
	position: absolute;
width: 411px;
height: 82px;
left: 330px;
top: 145px;
font-family: Arvo;
font-style: normal;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
}

.pwrd
{
	position: absolute;
width: 411px;
height: 82px;
left: 310px;
top: 293px;
font-family: Arvo;
font-style: normal;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
}

.enter-signin-mail
{
background-color: #F8F5F5;;
position: absolute;
width: 287px;
left: 15%;
top: 223px;
border-style: none; 
border-radius: 25px;
padding: 20px; 
}

.enter-signin-pass
{
  background-color: #F8F5F5;;
  position: absolute;
  width: 287px;
left: 15%;
top: 372px;
border-style: none; 
border-radius: 25px;
padding: 20px; 
}

.sign-in-button
{
background: #FCE181;
position: absolute;
width: 230px;
height: 70px;
left: 240px;
top: 467px;
border-style: none;
color: white;
font-size: 20px;
letter-spacing: 2px;
font-weight: normal;
cursor: pointer;
border-radius: 25px;
padding: 20px; 
}

img
{
display: grid;
position: absolute;
height: 900px;
right: 0px;
width: 600px;
}


.signin
{
position: absolute;
width: 142px;
height: 24px;
left: 197px;
top: 32px;
text-decoration: none;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #026670;
}

.register
{
  position: absolute;
width: 142px;
height: 30px;
left: 523px;
top: 28px;
text-decoration: none;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #026670;
}

.goto
{

position: absolute;
left: 260px;
top: 532px;
text-decoration: none;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #5F9A89;

}