html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#EDEAE5
}

.signin
{
position: absolute;
 width: 142px;
height: 24px;
left: 197px;
top: 32px;
text-decoration: none;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
}

.register
{
  position: absolute;
width: 142px;
height: 30px;
left: 523px;
top: 28px;
text-decoration: none;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
}

.sign-up-button
{
 background: #FCE181;
position: absolute;
width: 230px;
height: 70px;
left: 287px;
top: 690px;
border-style: none;
color: white;
font-size: 20px;
letter-spacing: 2px;
font-weight: normal;
cursor: pointer;
border-radius: 25px;
padding: 20px; 
}

.fname
{
    position: absolute;
width: 306px;
height: 34px;
left: 338px;
top: 100px;

font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;

color: rgba(0, 0, 0, 0.68);
}

.fname-input
{
    background-color: #F8F5F5;;
position: absolute;
width: 302px;
left: 256px;
top: 170px;
border-style: none; 
border-radius: 25px;
padding: 20px; 
}
.lname
{
    position: absolute;
width: 306px;
height: 34px;
left: 338px;
top: 210px;

font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;

color: rgba(0, 0, 0, 0.68);
}

.lname-input
{
    background-color: #F8F5F5;;
position: absolute;
width: 302px;
left: 256px;
top: 280px;
border-style: none; 
border-radius: 25px;
padding: 20px; 
}

.mail
{
    position: absolute;
width: 306px;
height: 34px;
left: 365px;
top: 320px;

font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;

color: rgba(0, 0, 0, 0.68);
}

.mail-input
{
    background-color: #F8F5F5;;
position: absolute;
width: 302px;
left: 256px;
top: 390px;
border-style: none; 
border-radius: 25px;
padding: 20px; 
}
.uname
{
    position: absolute;
width: 306px;
height: 34px;
left: 338px;
top: 430px;

font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;

color: rgba(0, 0, 0, 0.68);
}

.uname-input
{
    background-color: #F8F5F5;;
position: absolute;
width: 302px;
left: 256px;
top: 500px;
border-style: none; 
border-radius: 25px;
padding: 20px; 
}

.pswrd
{
    position: absolute;
width: 306px;
height: 34px;
left: 338px;
top: 540px;

font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;

color: rgba(0, 0, 0, 0.68);
}

.pswrd-input
{
    background-color: #F8F5F5;;
position: absolute;
width: 302px;
left: 256px;
top: 610px;
border-style: none; 
border-radius: 25px;
padding: 20px; 
}
img
{
display: grid;
position: absolute;
height: 900px;
right: 0px;
width: 600px;
}

.gotoe
{

position: absolute;
left: 276px;
top: 750px;
text-decoration: none;
font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #5F9A89;

} 